body {
	font: 14px "Times New Roman", Times, serif;
	margin: 20px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.square {
	background: #4169E1;
	border: 2px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -2px;
	margin-top: -2px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
}

.status {
	margin: 10px;
}

.game {
	display: flex;
	flex-direction: row;
}